@{
    ViewData["Title"] = "Privacy Page";
}

<h1 class="display-4" style="text-align:center;">@ViewData["Title"]</h1>
<br>

<div style="text-align:center; font-size:25px;">
    <hr>
    <p>Information about the privacy of the application.</p>
</div>