@model HighwayTolls.ViewModel.SelectBoothViewModel

@{
    ViewData["Title"] = "Select Booth";
}

<h1 class="display-4" style="text-align:center;">@ViewData["Title"]</h1>
<br>

<div class="text-center" style="font-size:30px;">

    <form action="@Url.Action("Index", "Home")">
        <br>
        <label>Select location</label>
        <select class="form-control" id="LocationId" name="LocationId" onchange="SelectLocation();" required>
            <option value="">Please select a location</option>
            @foreach (var loc in Model.TollLocations)
            {
                <option value="@(loc.Id)">@(loc.City)</option>

            }
        </select>

        <br>
        <label>Select booth</label>
        <select class="form-control" id="BoothId" name="BoothId" required>
            <option value="">Please select a booth</option>
        </select>

        <br>
        <input class="btn btn-primary" type="submit" value="Select" />
    </form>
</div>

<script type="text/javascript">
    function SelectLocation() {
        var selectedLocation = $("[id*=LocationId]").val();
        if (selectedLocation != null) {
            //Make a ajax call to the controller
            $.ajax({
                url: "/Home/GetBooths",
                data: { "location": selectedLocation },
                success: function (response) {
                    //delete existing options
                    $('#BoothId').empty();
                    $('#BoothId').append("<option value=\"\">Please select a booth</option>");
                    //add current options
                    var options = "";
                    for (var i = 0; i < response.length; i++) {
                        options += '<option value="' + response[i] + '">Tool Both ' + response[i] + '</option>';
                    }
                    $('#BoothId').append(options);
                },
                error: function (xhr) {
                    alert("Error");
                }
            });
        }
    }
</script>