@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
    <link rel="stylesheet" href="~/css/addPlaneType.css?v=<%= DateTime.Now.Ticks %" />
<h1 class="title">@ViewData["Title"]</h1>
<h4 style="text-align: center" >Enter your email.</h4>
<hr />
<div class="row">
    <div style="text-align: center" >
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="labels">
                <label asp-for="Input.Email"></label>
                <input class="boxes" asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <button type="submit" class="buttons">Submit</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
