@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="~/css/loginPartial.css?v=<%= DateTime.Now.Ticks %" />

<ul >
@if (SignInManager.IsSignedIn(User))
{
        @*<div class="buttons">
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </div>*@
        <div style="text-align: right; margin-right: 15px;">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="buttons" type="submit">Logout</button>
            </form>

            @*<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" type="submit"> Logout </a>*@
        </div>
    
}
else
{
    <li class="buttons">
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="buttons">
        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
