@model AjaxExample.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>

<p>The selected location is: @(Model.Location)</p>
<br>
<p>The selected booth is: @(Model.Booth)</p>