@{
    ViewData["Title"] = "Privacy Page";
}

<h1 class="display-4" style="text-align:center;">@ViewData["Title"]</h1>
<br>

<div style="text-align:center; font-size:25px;">
    <hr>
    <p>Information about the privacy of the application.</p>
    <p>Your information is safe.</p>
    <img style="max-width:950px;" src="https://everbridge.dk/wp-content/uploads/sites/14/legal-privacy-security-hero-1.jpg" alt="Image">
</div>